*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container{
display: flex;
position: absolute;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
background: black;
}
.container input{
appearance: none;
}
.container .dots{
position: absolute;
bottom: 70px;
z-index: 10000;
display: flex;
gap: 6px;
}
.container .dots label{
width: 20px;
height: 20px;
background: whitesmoke;
cursor: pointer;
border-radius: 50%;
opacity: 0.5;
border: 2px solid black;
}
.container input:nth-child(1):checked ~ .dots label:nth-child(1),
.container input:nth-child(2):checked ~ .dots label:nth-child(2),
.container input:nth-child(3):checked ~ .dots label:nth-child(3)
.container input:nth-child(4):checked ~ .dots label:nth-child(4)
.container input:nth-child(5):checked ~ .dots label:nth-child(5){
opacity: 1;
}
.container .slider{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.container .slider .slide{
position: absolute;
left: 0;
width: 100%;
height: 100%;
top: 0;
background: var(--img);
opacity: 0;
background-size: cover;
clip-path: circle(0% at 0% 50%);
transition: 1s ease all;
transition-delay: 0s;
background-position: left;
}
.container .slider .slide:nth-child(even){
clip-path: circle(0% at 100% 50%);
background-position: right;
}
.container input:nth-child(1):checked ~ .slider .slide:nth-child(1),
.container input:nth-child(2):checked ~ .slider .slide:nth-child(2),
.container input:nth-child(3):checked ~ .slider .slide:nth-child(3),
.container input:nth-child(4):checked ~ .slider .slide:nth-child(4),
.container input:nth-child(5):checked ~ .slider .slide:nth-child(5){
clip-path: circle(150% at 50% 50%);
opacity: 1;
transition-delay: 1s;
background-position: center;
}
.content{
text-align: center;
align-items: center;
justify-content: center;
color: darkblue;
font-size: 35px;
font-weight: bold;
}
.explanation{
text-align: center;
align-items: center;
justify-content: center;
color: white;
font-size: 35px;
font-weight: bold;
}